.friendly-scorm-report table {
    overflow-wrap: break-word;
    word-break: break-word;
}
.friendly-scorm-report .no-overflow {
    overflow: visible;
}

.friendly-scorm-report .header.c0 {
    min-width: 200px;
}

.friendly-scorm-report .header.c1 {
    min-width: 80px;
}

.friendly-scorm-report .header.c2 {
    min-width: 180px;
}
.friendly-scorm-report .header.c4 {
    min-width: 80px;
}

.friendly-scorm-report .header.c5 {
    min-width: 180px;
}